<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZ</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h1>What is my name?</h1>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
		<p>First thing's first!</p></div>
				<div class="col-md-2">
		<p>Simple enough question.</p></div>
				<div class="col-md-8">
		<ul>
			<li>Emma</li>
			<li>Sandra</li>
			<li>Gabriella</li>
		</ul>
	<button>You sure?</button>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>

</html>