<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Love me Tinder!</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<img src="/static/tinder-icon.svg" alt="Tinder icon" style="width:150px;height:auto;"><br>
	<h1>{{ question_number }}. {{ question }}</h1>
	<form action="{% url 'answer_page' quiz.quiz_number question_number %}" method="post">
		{% csrf_token %}
	<div>
		<input type="radio" name="answer" value="1" checked> {{ answer1 }}
	</div>
	<div>
		<input type="radio" name="answer" value="2"> {{ answer2 }}
	</div>
	<div>
		<input type="radio" name="answer" value="3"> {{ answer3 }}
	</div>
	<br><br>
	<button type="submit">Swipe right</button>
</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>