<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZ</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<h1>QUIZ</h1>
		<div class="container-fluid">
			<div class="row">
				<a href="quiz.html">Quiz 1</a>
				<a href="quiz.html">Quiz 2</a>
				<a href="quiz.html">Quiz 3</a>
			</div>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	{% for quiz in quizzes %}
		<p>{{ quiz.name }}</p>
	{% endfor %}
	</body>

</html>