<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hire me, tinder!</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<img src="/static/tinder-1.svg" alt="Tinder" style="width:304px;height:auto;"><br><br>
	<h1>Please, don't swipe left on me!</h1><br><br>
	<p>You know the deal. Being an out of work designer is a bottomless pit of failed networking attempts, sad evenings in front of Illustrator and a growing sense of despair.<br>
	<p>See if we could be a match!</p><br>
	<div class="container">
		{% for quiz in quizzes %}
			<div class="col-md-4">
				<a href="{% url 'quiz_page' quiz.quiz_number %}">{{ quiz.name }}</a>
			</div>
		{% endfor %}
	</div>
		<br>
	<p>By the way, if you already feel like we would be a match, I took the liberty of attaching a link to my portfolio page as well.</p><br>
	<div class="container">
    <a class="link-container" href="http://www.sandraliljegren.com" id="link">Go there now!</a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>