<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZ</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<img src="https://pro2-bar-s3-cdn-cf1.myportfolio.com/c0746d50920281f658a1c4a985709df0/c95352c9-d3c9-41bd-a4c9-89d3860632ac_rw_1920.jpg?h=2958888ed2d46fb7e22ef7b94e222527" alt="Bild på Sandra" style="width:300px;height:auto">
		<h1>QUIZ</h1>
		<div class="container-fluid">
			<div class="row">
				<a href="quiz.html">Quiz 1</a>
				<a href="quiz.html">Quiz 2</a>
				<a href="quiz.html">Quiz 3</a>
			</div>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	{% for quiz in quizzes %}
		<p>{{ quiz.name }}</p>
	{% endfor %}
	</body>

</html>