body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	width: 100%;
	margin: auto;
	text-align: center;
}
h1 {
	color: black;
	font-size: 12;
	text-align: center;
}
p {
	color: black;
	text-align: center;
	margin: auto;
	width: 300px;
}
li {
	color: white;
	text-align: center;
}
a {
    background: black;
    color: white;
    display: inline-block;
    padding: 10px;
}
img {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 40px;
}
form {
	margin: 0 auto; 
	width:250px;
}
button {
	background: black;
    color: white;
    display: inline-block;
    padding: 10px;
}
.container {
	margin: auto;
}
.answers {
	display: inline-block;
	padding: 5px;
}