a {
    background: black;
    color: white;
    display: inline-block;
    padding: 10px;
    width: 150px;
}
body {
	background-color: white;
	font-family: Raleway, sans-serif;
	width: 100%;
	margin: auto;
	text-align: center;
}
h1 {
	color: black;
	font-size: 12pt;
	text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 40px;
}
p {
	color: black;
	text-align: center;
	margin: auto;
	width: 300px;
}
li {
	color: white;
	text-align: center;
}
form {
	margin: 0 auto; 
	width:250px;
}
button {
	background: #df4723;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: none;
    outline:none;
}
.container {
	margin: auto;
}
.answers {
	display: inline-block;
	padding: 5px;
}
a:link, a:visited {
    background-color: #df4723;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightgray;
}
button:link, button:visited {
    background-color: #df4723;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

button:hover, button:active {
    background-color: lightgray;
}