body {
	background-color: white;
	font-family: Proxima Nova Soft, sans-serif;
	width: 100%;
	margin: auto;
}
h1 {
	color: black;
	font-size: 20;
	text-align: center;
}
p {
	color: black;
	text-align: center;
	margin: auto;
	width: 200px;
}
li {
	color: white;
	text-align: center;
}
.link-container {
    margin: 0 auto;
}
a {
    background: black;
    color: white;
    display: inline-block;
    padding: 10px;
}
img {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 40px;
}
form {
	margin: 0 auto; 
	width:250px;
}